.btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
}

.btn:hover {
    border: 1px solid #458FF6;
    background-color: #fff;
    border-radius: 55px;
    color: #007bff;
    padding: 15px 30px;
    cursor: pointer;
}
.button__12 {
    margin-top: 69px;
    display: grid;
    place-items: center;
}

.btn__2s {
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #fff;
    color: #458FF6;
    padding: 15px 30px;
    border: 2px solid #458FF6;
    border-radius: 55px;
    cursor: pointer;
    text-decoration: none;
}